/* NProgress Loading Bar Styles */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #ff0000; /* Pure red for maximum visibility */
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Animation */
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
